.form {
  display: flex;
  align-items: center;
}

.form__input {
  width: 354px;
  padding-left: 32px;
  padding-right: 20px;
  border: none;
  height: 56px;
  background-color: var(--light-grey);
  font-weight: 400;
  font-size: 16px;
  color: rgba(42, 37, 75, 0.2);
}

.form__input::placeholder {
  color: rgba(42, 37, 75, 0.2);
}

.form__input:focus {
  outline: none;
}

.form__input:focus-visible {
  outline: 2px dashed var(--primary);
  outline-offset: var(--outline-offset);
}
